PORT=3001
NODE_ENV=production
BASE_URL=https://api-quiz.weblunar.com.br
FRONTEND_URL=https://quiz.weblunar.com.br
CORS_ORIGIN=https://quiz.weblunar.com.br,http://localhost:5173
DATABASE_URL=

# Mercado Pago Produção
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
MP_CLIENT_ID=
MP_CLIENT_SECRET=
MP_WEBHOOK_SECRET=

# Disparador Gmail Oficial (SMTP)
SMTP_USER=quizweblunar@gmail.com
SMTP_PASS=
EMAIL_FROM=Dossiê Confidencial <quizweblunar@gmail.com>
